/* Write your CSS code here */
.userinfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 150px;
}

.profile-heading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #12022f;
}
.profile-description {
  color: #616e7c;
}
@media (min-width: 576px) {
  .profile-heading {
    font-size: 48px;
  }
}
